*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* DEBUG */

.debug {
  border: 1px solid black;
}

.debug1 {
  border: 1px solid black;
  background-color: brown;
}

.debug2 {
  border: 1px solid black;
  background-color: blueviolet;
}

.debug3 {
  border: 1px solid black;
  background-color: rgb(95, 158, 160);
}

.debug-width {
  width: 100%;
}

.debug-height {
  height: 100%;
}
.debug-square {
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
}

/* ////DEBUG */

/* ------------------------GENERAL------------------------ */

img {
  max-width: 100%;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
/* -------------------------HEADER------------------------ */

.top-menu {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.341);
  position: fixed;
  top: 0;
  width: 100%;
  
}
/* ---------------------------MAIN------------------------ */

main .left-menu {
  width: 230px;
  height: calc(100vh - 90px);
}



.main-content {
  background-color: green;
  height: calc(100vh - 90px);
  width: calc(100% - 230px);
  padding-top: 90px;
  overflow: auto;
  
 
}

.content-card {
  margin: 10px;
}
.content-card img {
  width: calc(100% / 6)
}

/* -------------------------FOOTER------------------------ */

footer {
  height: 90px;
}








/* -------------------------MOBILE------------------------ */

@media  screen and (max-width:480px) {
  main .left-menu {
    width: 45px;
  }
  .main-content {
    width: calc(100% - 45px);
  }
}