*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* DEBUG */

.debug {
  border: 1px solid black;
}

.debug1 {
  border: 1px solid black;
  background-color: brown;
}

.debug2 {
  border: 1px solid black;
  background-color: blueviolet;
}

.debug3 {
  border: 1px solid black;
  background-color: rgb(95, 158, 160);
}

.debug-width {
  width: 100%;
}

.debug-height {
  height: 100%;
}
.debug-square {
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
}

/* ////DEBUG */

/* ------------------------GENERAL------------------------ */

img {
  max-width: 100%;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}



/* ---------------------------MAIN------------------------ */

/* LEFT MENU------ */
main .left-menu {
  width: 230px;
  height: calc(100vh - 90px);
  background-color: #000000;
  color: #686868;
  padding: 20px;
}

.left-menu img {
  width: 80%;
}

.left-menu li a img {
  width: 1.6rem;
}

/* ---------------- */
/* MAIN SECTION---- */

.main-content {
  background-color: #141922;
  height: calc(100vh - 90px);
  width: calc(100% - 230px);
  padding-top: 90px;
  overflow: auto;
}

.main-content .row li {
  padding: 25px 20px;
  font-size: 0.8rem;
  font-weight: 700;  
}

.main-content ul {
  width: 100%;
}

.main-content .row li a {
  color: #7d7f84;
  border-bottom: ;
}

.main-content h3 {
  width: 100%;
  padding-left: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 20px 0 30px 0;
}

.main-content .recently-played {
  width: 100%;
  padding: 0 10px;
}


.recently-played .content-card {
  width: calc((100% - 150px) / 6);
  margin: 0 10px;
  color: white;
  text-align: center;
  font-weight: 800;
  padding-bottom: 12px;
}
.recently-played .content-card img {
  padding-bottom: 15px;
}
.recently-played .content-card h4 {
  padding: 0px 0;
}

.recently-played .content-card span {
  color: #7d7f84 ;
  font-size: 0.7rem;
  font-weight: 800;
}


/* ---------------- */
/* TOP BAR (call to action)------ */

.white-btn {
  
  color: white;
  position: absolute;
  right: 235px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.8rem;
  font-weight: 600;
}
.top-menu {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.489);
  position: fixed;
  top: 0;
  width: 100%;
 
}

.btn-container {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}


/* ---------------- */




/* -------------------------FOOTER------------------------ */

footer {
  height: 90px;
  background-color: #282828;
}



/* -------------------------Medium------------------------ */

@media  screen and (max-width:880px) {

.recently-played .content-card {
  width: calc((100% - 150px) / 4);
  margin: 0 10px;
}

}

/* ------------------------------------------------------- */

/* ------------------------------S------------------------ */

@media  screen and (max-width:620px) {
  main .left-menu {
    width: 190px;
  }
  .main-content {
    width: calc(100% - 190px);
  }

  .recently-played .content-card {
    width: calc((100% - 40px) / 2);
    margin: 0 10px;
  }
}

/* ------------------------------------------------------- */

/* -----------------------------XS------------------------ */

@media  screen and (max-width:450px) {
  main .left-menu {
    width: 45px;
  }
  .main-content {
    width: calc(100% - 45px);
  }
}
/* ------------------------------------------------------- */

